@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

.profile-content {
    min-height: calc(100vh - 150px);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.title-divider {
    width: 45%;
}

.content-divider {
    width: 52%;
}

.content-divider-career {
    width: 52%;
}
.profile-page-content {
    width: 100%;
    height: 485px;
    background-color: whitesmoke;
}

.profile-page-content > h3 {
    font-family: 'Dosis', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile-aboutme-container {
    display: flex;
    justify-content: center;
    height: 335px;
    font-family: 'Dosis', sans-serif;
    padding-top: 25px;
}

.profile-details {
    width: 250px;
    text-align: left;
    padding-left: 35px;
}

.profile-details > p {
    text-align: left;
}

.profile-about {
    width: 375px;
    text-align: left;
}

.profile-about > p {
    padding-top: 15px;
    text-align: left;
}

.profile-page-content2 {
    width: 100%;
    background-color: beige;
    font-family: 'Dosis', sans-serif;
}

#profile-h2 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#experience-h3 {
    margin-left: 12.5%;
}

.experience-content-container {
    display: flex;
    width: 950px;
    margin-left: 12.5%;
}

#experience-header {
    width: 200px;

}

#experience-description {
    width: 750px;
}

